Console6/Service References/ServiceReference2/文档检索.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="HOSDocumentRetrieval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="input1" type="s:string" />
            <s:element minOccurs="0" name="input2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HOSDocumentRetrievalResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="HOSDocumentRetrievalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HOSDocumentSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="input1" type="s:string" />
            <s:element minOccurs="0" name="input2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HOSDocumentSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="HOSDocumentSearchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveHOSDocumentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="input1" type="s:string" />
            <s:element minOccurs="0" name="input2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveHOSDocumentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="SaveHOSDocumentInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HOSDocumentRetrievalSoapIn">
    <wsdl:part name="parameters" element="s0:HOSDocumentRetrieval" />
  </wsdl:message>
  <wsdl:message name="HOSDocumentRetrievalSoapOut">
    <wsdl:part name="parameters" element="s0:HOSDocumentRetrievalResponse" />
  </wsdl:message>
  <wsdl:message name="HOSDocumentSearchSoapIn">
    <wsdl:part name="parameters" element="s0:HOSDocumentSearch" />
  </wsdl:message>
  <wsdl:message name="HOSDocumentSearchSoapOut">
    <wsdl:part name="parameters" element="s0:HOSDocumentSearchResponse" />
  </wsdl:message>
  <wsdl:message name="SaveHOSDocumentInfoSoapIn">
    <wsdl:part name="parameters" element="s0:SaveHOSDocumentInfo" />
  </wsdl:message>
  <wsdl:message name="SaveHOSDocumentInfoSoapOut">
    <wsdl:part name="parameters" element="s0:SaveHOSDocumentInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="PUB0001Soap">
    <wsdl:operation name="HOSDocumentRetrieval">
      <wsdl:input message="s0:HOSDocumentRetrievalSoapIn" />
      <wsdl:output message="s0:HOSDocumentRetrievalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HOSDocumentSearch">
      <wsdl:input message="s0:HOSDocumentSearchSoapIn" />
      <wsdl:output message="s0:HOSDocumentSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveHOSDocumentInfo">
      <wsdl:input message="s0:SaveHOSDocumentInfoSoapIn" />
      <wsdl:output message="s0:SaveHOSDocumentInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PUB0001Soap" type="s0:PUB0001Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HOSDocumentRetrieval">
      <soap:operation soapAction="http://tempuri.org/DHC.Published.PUB0001.BS.PUB0001.HOSDocumentRetrieval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HOSDocumentSearch">
      <soap:operation soapAction="http://tempuri.org/DHC.Published.PUB0001.BS.PUB0001.HOSDocumentSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHOSDocumentInfo">
      <soap:operation soapAction="http://tempuri.org/DHC.Published.PUB0001.BS.PUB0001.SaveHOSDocumentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PUB0001">
    <wsdl:port name="PUB0001Soap" binding="s0:PUB0001Soap">
      <soap:address location="http://10.3.5.61/csp/hsb/DHC.Published.PUB0001.BS.PUB0001.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>