DealWebService/DealWebService/Service References/BYSY_HIS/HDR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://bjgoodwill.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bjgoodwill.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bjgoodwill.com">
      <s:element name="JHHDRWS004A">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="JHHDRWS004AResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="JHHDRWS004AResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JHHDRWS004APatList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JHHDRWS004APatListResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="JHHDRWS004APatListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JHHDRWS004B">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="StartTime" type="s:string" />
            <s:element minOccurs="0" name="EndTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JHHDRWS004BResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="JHHDRWS004BResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JHHDRWS004CPatList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JHHDRWS004CPatListResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="JHHDRWS004CPatListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JHHDRWS004D">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JHHDRWS004DResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="JHHDRWS004DResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="JHHDRWS004ASoapIn">
    <wsdl:part name="parameters" element="s0:JHHDRWS004A" />
  </wsdl:message>
  <wsdl:message name="JHHDRWS004ASoapOut">
    <wsdl:part name="parameters" element="s0:JHHDRWS004AResponse" />
  </wsdl:message>
  <wsdl:message name="JHHDRWS004APatListSoapIn">
    <wsdl:part name="parameters" element="s0:JHHDRWS004APatList" />
  </wsdl:message>
  <wsdl:message name="JHHDRWS004APatListSoapOut">
    <wsdl:part name="parameters" element="s0:JHHDRWS004APatListResponse" />
  </wsdl:message>
  <wsdl:message name="JHHDRWS004BSoapIn">
    <wsdl:part name="parameters" element="s0:JHHDRWS004B" />
  </wsdl:message>
  <wsdl:message name="JHHDRWS004BSoapOut">
    <wsdl:part name="parameters" element="s0:JHHDRWS004BResponse" />
  </wsdl:message>
  <wsdl:message name="JHHDRWS004CPatListSoapIn">
    <wsdl:part name="parameters" element="s0:JHHDRWS004CPatList" />
  </wsdl:message>
  <wsdl:message name="JHHDRWS004CPatListSoapOut">
    <wsdl:part name="parameters" element="s0:JHHDRWS004CPatListResponse" />
  </wsdl:message>
  <wsdl:message name="JHHDRWS004DSoapIn">
    <wsdl:part name="parameters" element="s0:JHHDRWS004D" />
  </wsdl:message>
  <wsdl:message name="JHHDRWS004DSoapOut">
    <wsdl:part name="parameters" element="s0:JHHDRWS004DResponse" />
  </wsdl:message>
  <wsdl:portType name="JHHDRWS004Soap">
    <wsdl:operation name="JHHDRWS004A">
      <wsdl:input message="s0:JHHDRWS004ASoapIn" />
      <wsdl:output message="s0:JHHDRWS004ASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JHHDRWS004APatList">
      <wsdl:input message="s0:JHHDRWS004APatListSoapIn" />
      <wsdl:output message="s0:JHHDRWS004APatListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JHHDRWS004B">
      <wsdl:input message="s0:JHHDRWS004BSoapIn" />
      <wsdl:output message="s0:JHHDRWS004BSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JHHDRWS004CPatList">
      <wsdl:input message="s0:JHHDRWS004CPatListSoapIn" />
      <wsdl:output message="s0:JHHDRWS004CPatListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JHHDRWS004D">
      <wsdl:input message="s0:JHHDRWS004DSoapIn" />
      <wsdl:output message="s0:JHHDRWS004DSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JHHDRWS004Soap" type="s0:JHHDRWS004Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="JHHDRWS004A">
      <soap:operation soapAction="http://bjgoodwill.com/HDR.BS.JHHDRWS004.JHHDRWS004A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JHHDRWS004APatList">
      <soap:operation soapAction="http://bjgoodwill.com/HDR.BS.JHHDRWS004.JHHDRWS004APatList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JHHDRWS004B">
      <soap:operation soapAction="http://bjgoodwill.com/HDR.BS.JHHDRWS004.JHHDRWS004B" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JHHDRWS004CPatList">
      <soap:operation soapAction="http://bjgoodwill.com/HDR.BS.JHHDRWS004.JHHDRWS004CPatList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JHHDRWS004D">
      <soap:operation soapAction="http://bjgoodwill.com/HDR.BS.JHHDRWS004.JHHDRWS004D" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JHHDRWS004">
    <wsdl:port name="JHHDRWS004Soap" binding="s0:JHHDRWS004Soap">
      <soap:address location="http://10.2.98.214:57772/csp/hdr/HDR.BS.JHHDRWS004.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>