DealWebService/DealWebService/Service References/NanChangHis/患者基本信息获取.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="HIPManagerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="input1" type="s:string" />
            <s:element minOccurs="0" name="input2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HIPManagerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="HIPManagerInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HIPManagerInfoSoapIn">
    <wsdl:part name="parameters" element="s0:HIPManagerInfo" />
  </wsdl:message>
  <wsdl:message name="HIPManagerInfoSoapOut">
    <wsdl:part name="parameters" element="s0:HIPManagerInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="PUB0018Soap">
    <wsdl:operation name="HIPManagerInfo">
      <wsdl:input message="s0:HIPManagerInfoSoapIn" />
      <wsdl:output message="s0:HIPManagerInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PUB0018Soap" type="s0:PUB0018Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HIPManagerInfo">
      <soap:operation soapAction="http://tempuri.org/DHC.Published.PUB0018.BS.PUB0018.HIPManagerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PUB0018">
    <wsdl:port name="PUB0018Soap" binding="s0:PUB0018Soap">
      <soap:address location="http://10.3.5.61/csp/hsb/DHC.Published.PUB0018.BS.PUB0018.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>