DealWebService/DealWebService/Service References/HBHD_CA/DocumentTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sDocXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadDocResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sDocXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveDocResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadDocSoapIn">
    <wsdl:part name="parameters" element="tns:UploadDoc" />
  </wsdl:message>
  <wsdl:message name="UploadDocSoapOut">
    <wsdl:part name="parameters" element="tns:UploadDocResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveDocSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveDoc" />
  </wsdl:message>
  <wsdl:message name="RemoveDocSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveDocResponse" />
  </wsdl:message>
  <wsdl:portType name="DocumentTransferSoap">
    <wsdl:operation name="UploadDoc">
      <wsdl:input message="tns:UploadDocSoapIn" />
      <wsdl:output message="tns:UploadDocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDoc">
      <wsdl:input message="tns:RemoveDocSoapIn" />
      <wsdl:output message="tns:RemoveDocSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentTransferSoap" type="tns:DocumentTransferSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadDoc">
      <soap:operation soapAction="http://tempuri.org/UploadDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDoc">
      <soap:operation soapAction="http://tempuri.org/RemoveDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocumentTransferSoap12" type="tns:DocumentTransferSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadDoc">
      <soap12:operation soapAction="http://tempuri.org/UploadDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDoc">
      <soap12:operation soapAction="http://tempuri.org/RemoveDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentTransfer">
    <wsdl:port name="DocumentTransferSoap" binding="tns:DocumentTransferSoap">
      <soap:address location="http://172.16.0.193/PLMRAE01/DocumentTransfer.asmx" />
    </wsdl:port>
    <wsdl:port name="DocumentTransferSoap12" binding="tns:DocumentTransferSoap12">
      <soap12:address location="http://172.16.0.193/PLMRAE01/DocumentTransfer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>